/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/05/2015, 11:07:35
    Author     : marceloalexandresantos
*/

.save_button{
    position: fixed;
    right: 30px;
    bottom: 30px;
    font-size: 14pt;
}
.list-group.panel > .list-group-item {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}
.list-group-submenu {
    margin-left:10px;
}
a.list-group-item{
    color: #003399;
}
a.list-group-item-success {
    background-color: #337ab7;
    color: white;
}

.list-group-item-success {
    background-color: #337ab7;
    color: white;
}

a.list-group-item-success:focus, a.list-group-item-success:hover{
    background-color: #337ab7;
    color: white;
}
::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }

body {
    background-color: #fff;
    margin: 40px;
    font: 13px/20px normal Helvetica, Arial, sans-serif;
    color: #4F5155;
}

a {
    color: #003399;
    background-color: transparent;
    font-weight: normal;
}

h1 {
    color: #444;
    background-color: transparent;
    border-bottom: 1px solid #D0D0D0;
    font-size: 19px;
    font-weight: normal;
    margin: 0 0 14px 0;
    padding: 14px 15px 10px 15px;
}

code {
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    font-size: 12px;
    background-color: #f9f9f9;
    border: 1px solid #D0D0D0;
    color: #002166;
    display: block;
    margin: 14px 0 14px 0;
    padding: 12px 10px 12px 10px;
}

#body {
    margin: 0 15px 0 15px;
}

p.footer {
    text-align: right;
    font-size: 11px;
    border-top: 1px solid #D0D0D0;
    line-height: 32px;
    padding: 0 10px 0 10px;
    margin: 20px 0 0 0;
}

.dataTables_filter {
    float: right;
}

.panel-title {
    color: #33353f;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    padding: 0;
    text-transform: none;
}


.panel {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    /* WHY?
    + .panel {
            margin-top: 35px;
    }*/;
}

.panel-heading {
    background: #f6f6f6;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #DADADA;
    padding: 18px;
    position: relative;
}

.panel-heading.bg-primary {
    background: #cccccc;
    color: white;
    border-bottom: 0 none;
    border-right: 0 none;
}

.panel-heading.bg-secondary {
    background: #e36159;
    color: white;
    border-bottom: 0 none;
    border-right: 0 none;
}

.panel-heading.bg-tertiary {
    background: #2baab1;
    color: white;
    border-bottom: 0 none;
    border-right: 0 none;
}

.panel-heading.bg-quartenary {
    background: #734ba9;
    color: white;
    border-bottom: 0 none;
    border-right: 0 none;
}

.panel-heading.bg-success {
    background: #47a447;
    color: white;
    border-bottom: 0 none;
    border-right: 0 none;
}

.panel-heading.bg-warning {
    background: #ed9c28;
    color: white;
    border-bottom: 0 none;
    border-right: 0 none;
}

.panel-heading.bg-danger {
    background: #d2322d;
    color: white;
    border-bottom: 0 none;
    border-right: 0 none;
}

.panel-heading.bg-info {
    background: #5bc0de;
    color: white;
    border-bottom: 0 none;
    border-right: 0 none;
}

.panel-heading.bg-dark {
    background: #171717;
    color: white;
    border-bottom: 0 none;
    border-right: 0 none;
}

.panel-heading.bg-white {
    background: #fff;
    border-bottom: 0 none;
    border-right: 0 none;
}


.modal-block {
    background: transparent;
    padding: 0;
    text-align: left;
    max-width: 750px;
    margin: 40px auto;
    position: relative;
}

.modal-wrapper {
    position: relative;
    padding: 25px 0;
}


.panel-body {
    background: #fdfdfd;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-body-nopadding {
    padding: 0;
}


.panel-body.bg-primary {
    background: #0088cc;
    color: white;
}

.panel-body.bg-secondary {
    background: #e36159;
    color: white;
}

.panel-body.bg-tertiary {
    background: #2baab1;
    color: white;
}

.panel-body.bg-quartenary {
    background: #734ba9;
    color: white;
}

.panel-body.bg-success {
    background: #47a447;
    color: white;
}

.panel-body.bg-warning {
    background: #ed9c28;
    color: white;
}

.panel-body.bg-danger {
    background: #d2322d;
    color: white;
}

.panel-body.bg-info {
    background: #5bc0de;
    color: white;
}

.panel-body.bg-dark {
    background: #171717;
    color: white;
}


.panel-highlight .panel-body {
    background-color: #0088cc;
    color: #fff;
}

html.dark .panel-body {
    background: #2e353e;
}

html .panel-transparent > .panel-heading + .panel-body {
    border-radius: 5px;
}

html .panel-transparent > .panel-body {
    padding: 0;
    border-radius: 0;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

html .panel .panel-heading-transparent {
    background: none;
    border: 0;
    padding-left: 0;
    padding-right: 0;
}

html .panel .panel-heading-transparent .panel-actions {
    right: 0;
}

html .panel .panel-heading-transparent + .panel-body {
    border-radius: 5px;
}

.panel-horizontal {
    display: table;
    width: 100%;
}

.panel-horizontal .panel-heading,
.panel-horizontal .panel-body,
.panel-horizontal .panel-footer {
    display: table-cell;
    vertical-align: middle;
}

.panel-horizontal .panel-heading {
    border-radius: 5px 0 0 5px;
}

.panel-horizontal .panel-heading + .panel-body {
    border-radius: 0 5px 5px 0;
}